<%- include('./partials/head.ejs'); %>

</head>
<body>
    <!-- ======== sidebar-nav start =========== -->
    <%- include('./partials/sidebar.ejs'); %>
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->
      <%- include('./partials/header.ejs'); %>
      <!-- ========== header end ========== -->

      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Create Question</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="<%-locals.base_url%>"><%-locals.base_url%></a>
                      </li>
                      <!-- <li class="breadcrumb-item active" aria-current="page">
                        eCommerce
                      </li> -->
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

          <!-- End Row -->
          <div class="card">
            <div class="card-header">
              Create Question
            </div>
            <div class="card-body">
             <div class="row">
              <div class="col-md-9">
                <div id="editor1" name="editor1"></div>
                <div class="mt-3">
                  <div id="editor2" name="editor2"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Marks</label>
                  <input type="email" class="form-control rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary rounded-0" type="button">Save As Draft</button>
                  <button class="btn btn-primary rounded-0" type="button">Final Submit</button>
                </div>
              </div>
             </div>
            </div>
          </div>
      </section>
      <!-- ========== section end ========== -->

      <!-- ========== footer start =========== -->
      <%- include('./partials/footer.ejs'); %>
      
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->
    <%- include('./partials/footerlink.ejs'); %>

    <script src="/js/ckeditor.js"></script>
    <script>
   $(document).ready(function(){
    var editor1;
    var editor2;
          CKEDITOR.ClassicEditor.create(document.getElementById("editor1"), {
            codeBlock: {
            languages: [
            { language: 'plaintext', label: 'Plain text' }, // The default language.
            { language: 'c', label: 'C', class: ''},
            { language: 'cs', label: 'C#', class: '' },
            { language: 'cpp', label: 'C++', class: 'Cpp' },
            { language: 'css', label: 'CSS', class: 'CSS' },
            { language: 'diff', label: 'Diff', class: 'Diff' },
            { language: 'html', label: 'HTML', class: 'HTML' },
            { language: 'java', label: 'Java', class: 'Java' },
            { language: 'javascript', label: 'JavaScript', class: 'js javascript js-code' },
            { language: 'php', label: 'PHP' , class: 'php-code'},
            { language: 'python', label: 'Python', class: 'Python' },
            { language: 'ruby', label: 'Ruby', class: 'Ruby' },
            { language: 'typescript', label: 'TypeScript', class: 'TypeScript' },
            { language: 'xml', label: 'XML', class: 'XML' }
            ]
        },
            toolbar: {
              items: [
                'heading', '|','bold', 'italic', 'strikethrough', 'underline',
                'code','subscript','superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|','undo', 'redo','-','fontSize', 'fontFamily', 'fontColor',
                'fontBackgroundColor', 'highlight', '|',
                'alignment', '|','link', 'insertImage', 'blockQuote', 'insertTable',
                'specialCharacters', 'horizontalLine', 'pageBreak','|','textPartLanguage', '|',
                'findAndReplace', 'imageTextAlternative', 'MathType', 'ChemType','codeBlock'
              ],
              shouldNotGroupWhenFull: true
            },
            removeButtons: 'ExportPdf,Form,Checkbox,Radio,TextField,Select,Textarea,Button,ImageButton,HiddenField,NewPage,CreateDiv,Flash,Iframe,About,ShowBlocks,Maximize',
            table: {
              contentToolbar: ['insertTable', 'tableColumn', 'tableRow',
                'mergeTableCells',
                'tableProperties', 'tableCellProperties',
                'toggleTableCaption'
              ]
            },
            // Changing the language of the interface requires loading the language file using the <script> tag.
            // language: 'es',
            list: {
              properties: {
                styles: true,
                startIndex: true,
                reversed: true
              }
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
            heading: {
              options: [{
                model: 'paragraph',
                title: 'Paragraph',
                class: 'ck-heading_paragraph'
              },
              {
                model: 'heading1',
                view: 'h1',
                title: 'Heading 1',
                class: 'ck-heading_heading1'
              },
              {
                model: 'heading2',
                view: 'h2',
                title: 'Heading 2',
                class: 'ck-heading_heading2'
              },
              {
                model: 'heading3',
                view: 'h3',
                title: 'Heading 3',
                class: 'ck-heading_heading3'
              },
              {
                model: 'heading4',
                view: 'h4',
                title: 'Heading 4',
                class: 'ck-heading_heading4'
              },
              {
                model: 'heading5',
                view: 'h5',
                title: 'Heading 5',
                class: 'ck-heading_heading5'
              },
              {
                model: 'heading6',
                view: 'h6',
                title: 'Heading 6',
                class: 'ck-heading_heading6'
              }
              ]
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
            placeholder: 'Enter Question Here!',
            // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
            fontFamily: {
              options: [
                'default',
                'Arial, Helvetica, sans-serif',
                'Courier New, Courier, monospace',
                'Georgia, serif',
                'Lucida Sans Unicode, Lucida Grande, sans-serif',
                'Tahoma, Geneva, sans-serif',
                'Times New Roman, Times, serif',
                'Trebuchet MS, Helvetica, sans-serif',
                'Verdana, Geneva, sans-serif'
              ],
              supportAllValues: true
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
            fontSize: {
              options: [10, 12, 14, 'default', 18, 20, 22],
              supportAllValues: true
            },
            // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
            // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
            htmlSupport: {
              allow: [{
                name: /.*/,
                attributes: true,
                classes: true,
                styles: true
              }]
            },
            htmlEmbed: {
              showPreviews: true
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
            link: {
              decorators: {
                addTargetToExternalLinks: true,
                defaultProtocol: 'https://',
                toggleDownloadable: {
                  mode: 'manual',
                  label: 'Downloadable',
                  attributes: {
                    download: 'file'
                  }
                }
              }
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
            mention: {
              feeds: [{
                marker: '@',
                feed: [
                  '@apple', '@bears', '@brownie', '@cake',
                  '@cake', '@candy',
                  '@canes', '@chocolate', '@cookie',
                  '@cotton', '@cream',
                  '@cupcake', '@danish', '@donut',
                  '@dragée',
                  '@fruitcake',
                  '@gingerbread', '@gummi', '@ice',
                  '@jelly-o',
                  '@liquorice', '@macaroon', '@marzipan',
                  '@oat', '@pie', '@plum',
                  '@pudding', '@sesame', '@snaps',
                  '@soufflé',
                  '@sugar', '@sweet', '@topping', '@wafer'
                ],
                minimumCharacters: 1
              }]
            },
            removePlugins: [
              'CKBox',
              'CKFinder',
              'EasyImage',
              'RealTimeCollaborativeComments',
              'RealTimeCollaborativeTrackChanges',
              'RealTimeCollaborativeRevisionHistory',
              'PresenceList',
              'Comments',
              'TrackChanges',
              'TrackChangesData',
              'RevisionHistory',
              'Pagination',
              'WProofreader',
              'MathType'
            ]
          })
            .then(editor => {
              console.log('editorrrrrrrrrrrrrr', editor)
              editor1 = editor
            })
            .catch(error => {
              console.error(error);
            });


            CKEDITOR.ClassicEditor.create(document.getElementById("editor2"), {
              codeBlock: {
            languages: [
            { language: 'plaintext', label: 'Plain text' }, // The default language.
            { language: 'c', label: 'C', class: ''},
            { language: 'cs', label: 'C#', class: '' },
            { language: 'cpp', label: 'C++', class: 'Cpp' },
            { language: 'css', label: 'CSS', class: 'CSS' },
            { language: 'diff', label: 'Diff', class: 'Diff' },
            { language: 'html', label: 'HTML', class: 'HTML' },
            { language: 'java', label: 'Java', class: 'Java' },
            { language: 'javascript', label: 'JavaScript', class: 'js javascript js-code' },
            { language: 'php', label: 'PHP' , class: 'php-code'},
            { language: 'python', label: 'Python', class: 'Python' },
            { language: 'ruby', label: 'Ruby', class: 'Ruby' },
            { language: 'typescript', label: 'TypeScript', class: 'TypeScript' },
            { language: 'xml', label: 'XML', class: 'XML' }
            ]
        },
            toolbar: {
              items: [
                'heading', '|','bold', 'italic', 'strikethrough', 'underline',
                'code','subscript','superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|','undo', 'redo','-','fontSize', 'fontFamily', 'fontColor',
                'fontBackgroundColor', 'highlight', '|',
                'alignment', '|','link', 'insertImage', 'blockQuote', 'insertTable',
                'specialCharacters', 'horizontalLine', 'pageBreak','|','textPartLanguage', '|',
                'findAndReplace', 'imageTextAlternative', 'MathType', 'ChemType','codeBlock'
              ],
              shouldNotGroupWhenFull: true
            },
            removeButtons: 'ExportPdf,Form,Checkbox,Radio,TextField,Select,Textarea,Button,ImageButton,HiddenField,NewPage,CreateDiv,Flash,Iframe,About,ShowBlocks,Maximize',
            table: {
              contentToolbar: ['insertTable', 'tableColumn', 'tableRow',
                'mergeTableCells',
                'tableProperties', 'tableCellProperties',
                'toggleTableCaption'
              ]
            },
            // Changing the language of the interface requires loading the language file using the <script> tag.
            // language: 'es',
            list: {
              properties: {
                styles: true,
                startIndex: true,
                reversed: true
              }
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
            heading: {
              options: [{
                model: 'paragraph',
                title: 'Paragraph',
                class: 'ck-heading_paragraph'
              },
              {
                model: 'heading1',
                view: 'h1',
                title: 'Heading 1',
                class: 'ck-heading_heading1'
              },
              {
                model: 'heading2',
                view: 'h2',
                title: 'Heading 2',
                class: 'ck-heading_heading2'
              },
              {
                model: 'heading3',
                view: 'h3',
                title: 'Heading 3',
                class: 'ck-heading_heading3'
              },
              {
                model: 'heading4',
                view: 'h4',
                title: 'Heading 4',
                class: 'ck-heading_heading4'
              },
              {
                model: 'heading5',
                view: 'h5',
                title: 'Heading 5',
                class: 'ck-heading_heading5'
              },
              {
                model: 'heading6',
                view: 'h6',
                title: 'Heading 6',
                class: 'ck-heading_heading6'
              }
              ]
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
            placeholder: 'Enter Question Here!',
            // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
            fontFamily: {
              options: [
                'default',
                'Arial, Helvetica, sans-serif',
                'Courier New, Courier, monospace',
                'Georgia, serif',
                'Lucida Sans Unicode, Lucida Grande, sans-serif',
                'Tahoma, Geneva, sans-serif',
                'Times New Roman, Times, serif',
                'Trebuchet MS, Helvetica, sans-serif',
                'Verdana, Geneva, sans-serif'
              ],
              supportAllValues: true
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
            fontSize: {
              options: [10, 12, 14, 'default', 18, 20, 22],
              supportAllValues: true
            },
            // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
            // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
            htmlSupport: {
              allow: [{
                name: /.*/,
                attributes: true,
                classes: true,
                styles: true
              }]
            },
            htmlEmbed: {
              showPreviews: true
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
            link: {
              decorators: {
                addTargetToExternalLinks: true,
                defaultProtocol: 'https://',
                toggleDownloadable: {
                  mode: 'manual',
                  label: 'Downloadable',
                  attributes: {
                    download: 'file'
                  }
                }
              }
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
            mention: {
              feeds: [{
                marker: '@',
                feed: [
                  '@apple', '@bears', '@brownie', '@cake',
                  '@cake', '@candy',
                  '@canes', '@chocolate', '@cookie',
                  '@cotton', '@cream',
                  '@cupcake', '@danish', '@donut',
                  '@dragée',
                  '@fruitcake',
                  '@gingerbread', '@gummi', '@ice',
                  '@jelly-o',
                  '@liquorice', '@macaroon', '@marzipan',
                  '@oat', '@pie', '@plum',
                  '@pudding', '@sesame', '@snaps',
                  '@soufflé',
                  '@sugar', '@sweet', '@topping', '@wafer'
                ],
                minimumCharacters: 1
              }]
            },
            removePlugins: [
              'CKBox',
              'CKFinder',
              'EasyImage',
              'RealTimeCollaborativeComments',
              'RealTimeCollaborativeTrackChanges',
              'RealTimeCollaborativeRevisionHistory',
              'PresenceList',
              'Comments',
              'TrackChanges',
              'TrackChangesData',
              'RevisionHistory',
              'Pagination',
              'WProofreader',
              'MathType'
            ]
          })
            .then(editor => {
              console.log('editorrrrrrrrrrrrrr', editor)
              editor2 = editor
            })
            .catch(error => {
              console.error(error);
            });

   })
    </script>
  </body>
</html>
